.Categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 900px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}