.Category {
    width: 100%;
    max-width: 900px;
    border-radius: 5px;
    background-color: #46494a;
    margin: 0;
}

.bookContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

}

.Category header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
    background-color: #d7dde0;
    border-radius: 5px;
    color: #46494a;
}