body {
  margin: 0;

  font-family: 'Dosis', sans-serif;

  background-image: url("./jonas-jacobsson-0FRJ2SCuY4k-unsplash.jpg");
  background-size: cover;
}

button {
  color: #ffeebf;
  background-color: #46494a;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
  border:none;
  font-family: 'Dosis', sans-serif;
}

button:hover {
  color: #46494a;
  background-color: #ffeebf;
  
}

