body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'Dosis', sans-serif;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  background-image: url("./jonas-jacobsson-0FRJ2SCuY4k-unsplash.jpg");
  background-size: cover;
}

code {
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;*/
}

button {
  color: #46494a;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	background-color: #ffeebf;
	margin: 5px;
	border-radius: 3px;
  border:none;
  font-family: 'Dosis', sans-serif;
}

button:hover {
  color: #ffeebf;
  background-color: #46494a;;
}
